<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Memo</title>
</head>
<body>
<h1>Memo</h1>
<div>
    {{#memo}}
        <p>
            {{content}}
        </p>
    {{/memo}}
</div>
</body>
</html>